<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nominacja</title>
</head>
<body>
    <h1>Nominacja osoby do nagrody</h1>
    <form method="POST" th:action="@{/nominate}" th:object="${nominee}">
        <label for="firstName">Imię</label>
        <input id="firstName" name="firstName" type="text" th:field="${nominee.firstName}">
        <label for="lastName">Imię</label>
        <input id="lastName" name="lastName" type="text" th:field="${nominee.lastName}">
        <input type="submit" value="Nominuj">
    </form>
</body>

</html>